name: CI
run-name: CI for ${{ github.ref }}

on:
  push:
    branches:
      - "ubuntu-*"
  pull_request:
    branches:
      - "ubuntu-*"

jobs:
  cla-check:
    if: github.event_name == 'pull_request'
    name: CLA check
    uses: canonical/chisel-releases/.github/workflows/cla-check.yaml@main
