name: CI
run-name: CI for ${{ github.ref }}

on:
  pull_request:
    branches:
      - "ubuntu-*"

jobs:
  cla-check:
    if: github.event_name == 'pull_request'
    name: CLA check
    uses: canonical/chisel-releases/.github/workflows/cla-check.yaml@main

  installability-tests:
    name: Installability tests
    uses: canonical/chisel-releases/.github/workflows/install-slices.yaml@main

  lint:
    name: Lint
    uses: canonical/chisel-releases/.github/workflows/lint.yaml@main

  pkg-deps:
    if: github.event_name == 'pull_request'
    permissions: write-all
    name: Package dependencies
    uses: canonical/chisel-releases/.github/workflows/pkg-deps.yaml@main
