name: Lint

on:
  pull_request:
    branches:
      - "main"
    paths:
      - ".github/workflows/lint.yaml"
      - ".github/yamllint.yaml"
  schedule:
    # Run at 00:00 every day.
    # Ref: https://man7.org/linux/man-pages/man5/crontab.5.html
    - cron: "0 0 * * *"
  workflow_call:

env:
  # chisel-releases branches to lint on. 
  RELEASES: ${{ toJson('["ubuntu-20.04","ubuntu-22.04","ubuntu-24.04","ubuntu-25.10","ubuntu-26.04"]') }}

jobs:
  prepare-lint:
    runs-on: ubuntu-latest
    name: "Prepare to lint"
    outputs:
      matrix: ${{ steps.set-output.outputs.matrix }}
      main-ref: ${{ steps.set-output.outputs.main_ref }}
    steps:
      - name: Set output
        id: set-output
        run: |
          set -ex

          if [[
            "${{ github.base_ref || github.ref_name }}" == "main" ||
            "${{ github.event_name }}" == "schedule"
          ]]; then
            echo "matrix={\"ref\":${{ env.RELEASES }}}" >> $GITHUB_OUTPUT
          else
            echo "matrix={\"ref\":[\"\"]}" >> $GITHUB_OUTPUT
          fi

          # For PRs to main, use the updated files from PR head_ref by leaving
          # main_ref unset. Otherwise, set main_ref to main.
          if [[ "${{ github.base_ref }}" != "main" ]]; then
            echo "main_ref=main" >> $GITHUB_OUTPUT
          fi

  lint:
    runs-on: ubuntu-latest
    name: "Lint"
    needs: prepare-lint
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.prepare-lint.outputs.matrix) }}
    env:
      main-branch-ref: ${{ needs.prepare-lint.outputs.main-ref }}
      main-branch-path: files-from-main
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ matrix.ref }}

      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: ${{ env.main-branch-ref }}
          path: ${{ env.main-branch-path }}

      - name: Install dependencies
        run: |
          set -ex
          pip install --upgrade pip
          pip install yamllint

      - name: Lint with yamllint
        env:
          config-path: "${{ env.main-branch-path }}/.github/yamllint.yaml"
        run: |
          set -e
          yamllint -c "${{ env.config-path }}" \
            chisel.yaml \
            slices/

      - name: Lint with SDF-specific rules
        run: |
          set -e

          export LC_COLLATE=C
          EXIT_CODE=0

          err() {
            echo "error:   " "$@" >&2
            EXIT_CODE=1
          }

          for filename in $(find slices/ | grep "\.yaml$" | sort); do
            for slice in $(yq '.slices | keys | .[]' "$filename"); do
              # Because of chisel format "v3", essential can either be a map or an array
              # so the following "essential" check needs to cope with that and verify the type of essential
              key="$slice" yq \
                '.slices | with_entries(select(.key == env(key))) | .[] | select(.essential != null) | (.essential | select(tag == "!!map") | keys) // .essential | .[]' \
                "$filename" | sort -C || \
                err "$filename: $slice: \"essential\" entries are not sorted"
              key="$slice" yq \
                '.slices | with_entries(select(.key == env(key))) | .[].contents | select(.) | keys | .[]' \
                "$filename" | sort -C || \
                err "$filename: $slice: \"contents\" entries are not sorted"
            done
          done

          exit $EXIT_CODE

  validate-hints:
    name: Validate hints
    uses: ./.github/workflows/validate-hints.yaml
