name: Spread
run-name: Spread for ${{ github.ref }}

on:
  workflow_call:

jobs:
  spread-tests:
    strategy:
      matrix:
        runner:
          - name: X64
            runs-on: ${{ github.repository_owner == 'canonical' && fromJSON('["noble", "X64", "large"]') || 'ubuntu-24.04' }}
          - name: ARM64
            runs-on: ${{ github.repository_owner == 'canonical' && fromJSON('["noble", "ARM64", "large"]') || 'ubuntu-24.04-arm' }}
    name: Run Spread tests | ${{ matrix.runner.name }}
    runs-on: ${{ matrix.runner.runs-on }}
    env:
      main-branch-path: files-from-main
      MANIFESTS_EXPORT_DIR: /usr/share/manifests
    steps:
      - uses: actions/checkout@v4

      - name: Check changed paths
        id: changed-slices
        uses: dorny/paths-filter@v3
        with:
          filters: |
            slices:
              - added|modified: 'slices/**/*.yaml'
          list-files: shell

      - name: Check changed test directories
        uses: tj-actions/changed-files@531f5f7d163941f0c1c04e0ff4d8bb243ac4366f
        id: changed-tests
        with:
          separator: " "
          dir_names: "true"
          files: |
            tests/spread/integration/**

      - uses: actions/checkout@v4
        with:
          repository: snapcore/spread
          path: _spread

      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.17.0'

      - name: Install LXD
        uses: canonical/setup-lxd@v0.1.1
        with:
            channel: 5.21/stable

      - name: Prepare Spread suites
        id: spread-suites
        env:
          integration-tests: "tests/spread/integration"
          backend: "lxd"
        run: |
          set -ex
          spread_tasks=""
          for file in ${{ steps.changed-slices.outputs.slices_files }} ${{ steps.changed-tests.outputs.all_changed_files }}
          do
            pkg_name=$(basename $file | sed 's/\.yaml//g')
            pkg_tests="${{ env.integration-tests }}/${pkg_name}"
            if [ -f "${pkg_tests}/task.yaml" ] && [[ $spread_tasks != *"${pkg_tests}"* ]]
            then
              spread_tasks="${spread_tasks} ${{ env.backend }}:${pkg_tests}"
            fi
          done

          echo "run-tasks=$(echo ${spread_tasks} | awk '{$1=$1};1')" >> $GITHUB_OUTPUT

      - name: Build and run spread
        id: run-spread
        if: ${{ steps.spread-suites.outputs.run-tasks }}
        run: |
          (cd _spread/cmd/spread && go build)
          _spread/cmd/spread/spread -v ${{ steps.spread-suites.outputs.run-tasks }}

      # Test coverage report
      # Note that these steps depend on the success of the spread tests. This is
      # because when no slices are changed, the spread tests are skipped, and thus
      # there is no coverage report to generate.
      - name: Checkout main branch
        if: ${{ steps.run-spread.conclusion == 'success' }}
        uses: actions/checkout@v4
        with:
          ref: main
          path: ${{ env.main-branch-path }}

      - name: List slices in changed files
        if: ${{ steps.run-spread.conclusion == 'success' }}
        run: |
          set -ex
          while IFS= read -r file; do
            yq '.package as $pkg | .slices | keys | map("\($pkg)_\(.)") |  join(" ")' $file
          done <<< "${{ steps.changed-slices.outputs.slices_files }}" | \
            xargs -n1 | sort -u > slices-in-changed-files.txt

      - name: Create json coverage report
        if: ${{ steps.run-spread.conclusion == 'success' }}
        id: json-coverage-report
        run: |
          set -ex
          ln -s "${{ env.main-branch-path }}/.github/scripts/test-coverage/coverage-report" coverage-report
          ./coverage-report slices-in-changed-files.txt $MANIFESTS_EXPORT_DIR/manifests > report.json

          # Add the architecture to the report
          jq --arg arch "${{ matrix.runner.name }}" '.arch = $arch' report.json > coverage-report_${{ matrix.runner.name }}.json
      
      - name: Upload report
        if: ${{ steps.run-spread.conclusion == 'success' }}
        uses: actions/upload-artifact@v4
        with:
          name: integration-test-coverage-report_${{ matrix.runner.name }}.json
          path: coverage-report_${{ matrix.runner.name }}.json

  generate-pr-comment:
    name: Generate PR Comment
    runs-on: ubuntu-latest
    needs: [ spread-tests ]
    env:
      main-branch-path: files-from-main
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: main
          path: ${{ env.main-branch-path }}
      
      - name: Download coverage reports
        uses: actions/download-artifact@v4
        with:
          pattern: integration-test-coverage-report_*.json
          path: coverage-reports
          merge-multiple: true

      - name: Create markdown comment
        run: |
          set -ex
          ln -s "${{ env.main-branch-path }}/.github/scripts/test-coverage/coverage-to-md" coverage-to-md
          ./coverage-to-md $(ls coverage-reports/*.json | xargs) > coverage-summary.md
    
      - name: Upload comment to PR
        if: ${{ github.event.pull_request }}
        uses: canonical/chisel-releases/.github/actions/upload-pr-comment@main
        with:
          message-path: coverage-summary.md
          message-id: coverage-summary
